@using eshop.Areas.Admin.Models
@model Carousel
@{
    ViewData["Title"] = "Carousel Edit";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@{ViewBag.Action = "Edit";}

<partial name="_Form" model="Model">

    @section Scripts {

        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script src="~/js/Validation/ContentTypeValidation.js"></script>
    }
